<?xml version='1.0' encoding='utf-8'?>
<plugin id="cn.yingzhichu.cordova.gercode" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GErcode</name>
    <js-module name="GErcode" src="www/GErcode.js">
        <clobbers target="cordova.plugins.GErcode" />
    </js-module>
    <platform name="android">
        <framework src="com.journeyapps:zxing-android-embedded:4.2.0" />
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GErcode">
                <param name="android-package" value="cn.yingzhichu.cordova.gercode.GErcode" />
            </feature>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity
                android:name="cn.yingzhichu.cordova.gercode.ScanActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        </config-file>
        <source-file src="src/android/GErcode.java" target-dir="src/cn/yingzhichu/cordova/gercode/GErcode" />
    </platform>
</plugin>